<section>
  <h1>{{user.firstName}} cart</h1>
  {{#if (compare user.cart.products.length '>' 0)}}
  <div id='listContainer' class='list-group flex-row flex-wrap gap-5 justify-content-center'>
    {{#each user.cart.products}}
    <div class='card' style='width: 18rem;'>
      <img src='https://shoptheoldemercantile.com/image/cache/catalog/placeholderproduct-500x500.png'
        class='card-img-top' alt='...' />
      <div class='card-body justify-content-center d-flex flex-column'>
        <h5 class='card-title'>{{product.title}}</h5>
        <p class='card-text'>{{product.description}}</p>
        <p class='card-text'>Price: {{product.price}}</p>
        <p class='card-text'>id: {{product._id}}</p>
        <p class='card-text'>Category: {{product.category}}</p>
        <p class='card-text'>code :{{product.code}}</p>
        <p class='card-text'>Quantity: {{quantity}}</p>
        <p class='card-text'>Stock:{{product.stock}}</p>
        <button type='button' class='removeFromCartBtn' id='{{product._id}}-rmv'>Remove from cart</button>
      </div>
    </div>
    {{/each}}
  </div>
  <button type='button' id='emtpyCartBtn'> Empty cart </button>
  <div>
    <button type='button' id='purchaseBtnCash'> Pay with cash </button>
    <button type='button' id='purchaseBtnCard'> Pay with card </button>
  </div>
  {{else}}
  <h2>Cart is empty</h2>
  {{/if}}
</section>

<script src='/js/cart.js'></script>