<h1>Live product list</h1>
<div
  id='listContainer'
  class='list-group flex-row flex-wrap gap-5 justify-content-center'
>
  {{#each docs}}
    <div class='card' style='width: 18rem;'>
      <img
        src='https://shoptheoldemercantile.com/image/cache/catalog/placeholderproduct-500x500.png'
        class='card-img-top'
        alt='...'
      />
      <div class='card-body'>
        <h5 class='card-title'>{{title}}</h5>
        <p class='card-text'>{{description}}</p>
        <p class='card-text'>Price: {{price}}</p>
        <p class='card-text'>id: {{_id}}</p>
        <p class='card-text'>code :{{code}}</p>
        <p class='card-text'>Stock:{{stock}}</p>
        <a href='#' class='btn btn-primary'>Add to cart</a>
      </div>
    </div>
  {{/each}}
</div>

<div class='btn-group d-flex gap-3' role='group' aria-label='Basic example'>
  {{#if prevPage}}
    <a href='/products?page={{prevPage}}'><button
        type='button'
        class='btn btn-primary'
      >Previous</button></a>
  {{/if}}
  <button disabled='true' class='btn btn-primary'>{{page}}</button>
  {{#if nextPage}}
    <a href='/products?page={{nextPage}}'><button
        type='button'
        class='btn btn-primary'
      >Next</button></a>
  {{/if}}
</div>

<script src='/socket.io/socket.io.js'></script>
<script src='/js/liveList.socket.js'></script>