<h1>User center</h1>

<div>
    <h2>My profile</h2>
    <div>
        <label>First name:</label>
        <span>{{user.firstName}}</span>
    </div>
    <div>
        <label>Last name:</label>
        <span>{{user.lastName}}</span>
    </div>
    <div>
        <label>Email:</label>
        <span>{{user.email}}</span>
    </div>
    <div>
        <label>Age:</label>
        <span>{{user.age}}</span>
    </div>
    <div>
        <label>Role:</label>
        <span>{{user.role}}</span>
    </div>
</div>